.Drawer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 90;
  transform: scale(0);
  transition: all 1s ease-in-out;
  border-radius: 50%;
  font-family: "Dosis", sans-serif;
}

.Container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container ul {
  list-style: none;
}
.Container ul li {
  margin-bottom: 20px;
}
.Container ul li a {
  color: #fff;
  font-family: "Dosis", sans-serif !important;
  font-size: 1.6rem;
}

.Container ul li a :hover {
  border-bottom: 1px solid #fff;
  transition: all 1s ease-in;
}

.ShowDrawer {
  transform: scale(1);
  border-radius: 0;
  transition: all 1s ease-in-out;
}
.Selected {
  border-left: 5px solid #fff;
  padding-left: 15px;
  cursor: not-allowed;
}

@media screen and (max-width: 451px) {
  .Container ul li a {
    font-size: 1.7rem;
  }
}
