.s-hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transition: all 1s ease;
  position: relative;
  z-index: 98;
}
.s-hamburger div {
  background-color: black;
  width: 100%;
  height: 5px;
  transition: all 1s ease-out;
  border-radius: 5px;
  border: 1px solid #fff;
}

.s-first {
  transform: rotate(45deg);
  position: absolute;
  transition: all 1s ease-out;
}
.s-sec {
  opacity: 0;
  transform: translateX(50px);
  position: absolute;
  transition: all 0.1s ease-out;
}
.s-third {
  transform: rotate(-45deg);
  position: absolute;
  transition: all 1s ease-out;
}

.s-open {
  transform: rotateY(180deg);
  transition: all 1s ease-out;
}

.s-close {
  transition: all 1s ease-out;
}
